@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
        .row {
            color:white;
        }
        
    </style>
<div class="row justify-content-md-center">
    <div class="col-5  ml-3">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-5">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>



            <div class="form-group ml-3 mt-2">
                <label asp-for="Input.Profile"></label>
                <select id="profiles" asp-for="Input.Profile" class="form-control" asp-items='new SelectList(Model.RolesList,"Id","Name")'></select>
                <span asp-validation-for="Input.Profile" class="text-danger"></span>
            </div>



            <div class="form-group ml-3 mt-2">
                <label asp-for="Input.FirstName" id="name"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group ml-3" id="LastN">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group ml-3" id="DateB">
                <label asp-for="Input.DateBirth"></label>
                <input asp-for="Input.DateBirth" class="form-control" id="datePublicationCreate" />
                <span asp-validation-for="Input.DateBirth" class="text-danger"></span>
            </div>

            <div class="form-group ml-3">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            @*<div class="form-group ml-3">
                    <label asp-for="Input.Governate"></label>
                    <input asp-for="Input.Governate" class="form-control" />
                    <span asp-validation-for="Input.Governate" class="text-danger"></span>
                </div>*@

            <div class="form-group ml-3 mt-2">
                <label asp-for="Input.Governate"></label>
                <select asp-for="Input.Governate" class="form-control" asp-items='new SelectList(Model.GovernatesList)'></select>
                <span asp-validation-for="Input.Governate" class="text-danger"></span>
            </div>

            <div class="form-group ml-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group ml-3">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group ml-3">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary  ml-3">Register</button>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/register.js" /></script>
        <script type="text/javascript" src="~/js/offre.js" /></script>
}
